
.editor-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.editor-copy {
    position: absolute;
    bottom: 16px;
    left: 52px;
    height: 30px;
    width: 24px;
    cursor: pointer;
}

.editor-downnload {
    position: absolute;
    bottom: 16px;
    left: 16px;
    height: 30px;
    width: 24px;
    cursor: pointer;
}

.editor-char-count {
    font-size: 13px;
    line-height: 15px;
    position: absolute;
    bottom: 16px;
    left: 16px;
    color: #878b94;
}

.color-red.color-red {
    color: red;
}