.autoInputBox_ul {
  width: 100%;
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0;
  border-top: 1px solid #b4c2d4;
  border: solid 1px #b4c2d4;
  // position: absolute;
  // z-index: 1;
  // background: white;
  // max-width: 100%;
  // max-height: 300px;
  // overflow: auto;
}

.autoInputBox_ul::before {
  content: '';
}

.autoInputBox_li {
  padding: 4px;
  cursor: pointer;
  border: 2px;
  font-size: 16px;
}

.autoInputBox_li:hover,
.autoInputBox_li.hovered_item {
  background-color: #dcdcdc;
}
