.checkbox {
  display: flex;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }

  &.disabled {
    cursor: default;
    pointer-events: none;
    opacity: 0.5;
  }

  .inputHidden {
    position: absolute;
    // left: 0;
    // top: 0;
    opacity: 0;
    cursor: pointer;
    width: 12px;
    height: 12px;
    padding: 4px;
  }

  .inputContainer {
    padding-right: 10px;
  }

  .icon {
    position: absolute;
    display: block;
    cursor: pointer;
    background: #fff;
    user-select: none;
    border-radius: 50%;
    padding: 2px 4px;
  }

  .label {
    padding: 0 0 0 18px;
  }

  &.medium {
    font-size: 14px;

    .icon {
      width: 15px;
      height: 15px;
    }
  }
}
