.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 0.3s;
  background-color: rgba(0, 15, 32, 0.7);
  z-index: 500;
  opacity: 0;

  &-appear,
  &-enter {
    opacity: 0;
  }

  &-appear-active,
  &-enter-active {
    opacity: 0.4;
  }

  &-enter-done {
    opacity: 0.4;
  }

  &-exit {
    opacity: 0.4;
  }

  &-exit-active {
    opacity: 0;
  }

  &-exit-done {
    opacity: 0;
  }
}
