@import "../../../styles/index.scss";

.card {
  height: getRem(187);
  width: getRem(554);
  border: getRem(1) solid $catskill_white_2;
  box-shadow: 0 3px 0.75rem #f1f2f5;
  border-radius: getRem(10);
  position: absolute;
  transition: left 0.5s ease;
  background: $white;
  padding: getRem(24 32 28);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;

  .imgWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .credsWrapper {
      .name {
        color: #191b1f;
        font-weight: 700;
        font-size: 1.06rem;
        line-height: 1.5rem;
        display: flex;
        align-items: center;
      }

      .desig {
        font-weight: 500;
        font-size: 0.81rem;
        line-height: 1.25rem;
        color: #191b1f;
      }
    }
  }

  .description {
    font-size: getRem(13);
    line-height: getRem(16);
    color: var(--nobel);
    margin-top: getRem(24);
  }
}

.notActiveCard {
  transform: translate(-50%, -50%) scale(0.9);
  z-index: 0;
}

.activeCard {
  z-index: 1;
}
