.main-section{
    display: flex;
}

.aside{
    width: 20%;
    margin: 40px 20px 0;
}

.type-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 0;
    width: 80%;
    min-width: 1024px;
}

.type-heading {
    font-size: 32px;
    line-height: 35px;
    text-align: center;
    font-family: var(--rubik);
}

.type-wrapper {
    margin-top: 42px;
    display: flex;
    justify-content: space-around;
    min-height: 320px;
    border-radius: 8px;
    position: relative;
    padding: 0 8px;
}

.type-btns-wrapper {
    margin-top: 12px;
    display: flex;
    justify-content: space-around;
}

.type-result {
    width: 99%;
    height: 320px;
    background-color: #f2f5fd;
    padding: 12px;
    border-radius: 8px;
    border: 2px solid #f2f5fd;
    box-shadow: 0 2px 0.38rem -2px rgb(23 34 96 / 30%);
}

.type-input {
    width: 99%;
    padding: 12px;
    border-radius: 8px;
    border: 2px solid #f2f5fd;
    margin-right: 8px;
    min-height: 320px;
    box-shadow: 0 2px 0.38rem -2px rgb(23 34 96 / 30%);
}

.type-btns {
    border: 0 none;
    box-shadow: 0 1px 0 rgb(255 255 255 / 10%) inset, 0 1px 5px rgb(0 0 0 / 25%);
    color: #fff;
    font-size: 24px;
    font-weight: 200;
    transition: none 0s ease 0s;
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
    height: 42px;
    position: absolute;
    bottom: 16px;
    right: 16px;
    overflow: hidden;
}

.translate-btn {
    background-color: #5bb75b;
}

.translate-btn:hover {
    background-color: #5bb75bd7;
}

.reset-btn {
    background-color: #38bfc4;
}

.reset-btn:hover {
    background-color: #38bfc4b9;
}