$black: #000;
$white: #fff;
$bunker: #0f1316;
$azure_radiance: #0e88ff;
$mercury: #e4e4e4;
$shamrock: #44c99c;
$outer_space: #272b2d;
$trout: #4d5069;
$off_green: #dbf5ec;
$athens_gray: #e7eaf4;
$regent_gray: #7c8ba2;
$iron: #d6dbe2;
$shark: #232832;
$selago: #f2f5fd;
$selago_2: #f2f5fe;
$selago_3: #f7f7fe;
$mercury: #e5e5e5;
$science_blue: #0068cd;
$science_blue_approx: #0b69c5;
$slate_gray_approx: #698094;
$bombay_approx: #b4b5b6;
$carnation_approx: #ff585c;
$dodger_blue: #1587fc;
$mirage: #191b1f;
$dodger_blue_2: #3a89f7;
$river_bed: #414b5d;
$puerto_rico: #44c99c;
$french_rose: #f15581;
$cornflower_blue: #7b81f0;
$cornflower_blue_3: #0030a014;
$catskill_white_2: #eaf1f5;
$catskill_white_5: #e0e7f0;
$catskill_white_6: #e0e7f01a;
$catskill_white_7: #e0e7f033;
$catskill_white_8: #f3f7fa;
$catskill_white_9: #f9fafc;
$catskill_white_7: #f3f7fa;
$thunderbird: #c41f1f;
$heather: #b4c2d4;
$rollingStone: #818384;
$dodgerBlue: #3a89f7;
$cornflower_blue_2: #2d65b4;
$bitterSweet: #ff6360;
$shark_2: #191b1f;
$casper: #b3bcd4;
$sweetCorn: #fad37f;
$web_orange: #ffa800;
$web_orange_15: #ffa80026;
$rolling_stone: #818384;
$titan_white: #f9f9ff;
$zircon: #f0f5ff;
$zircon_2: #f7faff;
$athens_gray_2: #e5e7ee;
$blue_ribbon_3: #004dff08;
$sazerac: #fff6e6;
$athens_gray_3: #e0e7f0;
$pigeon_post: #b3bcd4;
$east_bay: #4d5b83;
$sugar_cane: #f7fff7;
$carousel_pink: #fbecf1;
$athens_gray_4: #f3f4f8;
$jordy_blue: #89b8fa;
$periwinkle_gray: #c5cde3;
$chablis: #ffefef;
$web_orange_10: #ffa8001a;
$web_orange_75: #ffa800bf;
$dodger_blue_10: #3a89f71a;
$blue_ribbon_8: #004dff14;
$de_york_25: #78bf7d40;
$blue_ribbon_5: #004dff0d;
$web_orange_15: #ffa80026;
$dodger_blue_3: #3b89f7;
$hawkes_blue: #dcdbfd;
$catskill_white_4: #e9ecf5;
$serenade: #fff7e9;
$bridal_heath: #fffbf3;
$ocean_green: #4caf78;
$ocean_green_2: #3fa683;
$black_1a: #0000001a;
$dodger_blue_7: #3a89f7b3;
$polar: #ecf7fa;
$pelorous: #44b1c9;
$solitude: #ebf3fe;
$remy: #feeef2;
$cornflower_blue_1a: #7b81f01a;
$shamrock_1a: #44c99c1a;
$chablis: #ffefef;
$aqua_spring: #ecfaf5;
$dull_lavender: #9cb0e2;
$polar_2: #eaf4fb;
$teal: #0030a008;
$dodger_blue_11: #3a89f7bf;
$catskill_white_6: #f4f8fa;
$woodsmoke: #101216;
$bright_gray: #313844;
$padua: #a1e4cd;
$titan_white: #fafaff;
$link_water: #eaeefb;
$downy: #56cec8;
$concrete: #f3f3f3;
$bridal_heath_2: #fffaf0;
$chelsea_gem: #9e6900;
$black_squeeze: #f7fafc;
$shark_3: #1e2429;
$blue_ribbon_2: #004dff0d;

$web_orange_10: rgba(255, 168, 0, 0.1);
$web_orange_75: rgba(255, 168, 0, 0.75);
$web_orange_5: rgba(255, 168, 0, 0.05);
$dodger_blue_10: rgba(58, 137, 247, 0.1);
$blue_ribbon_8: rgba(0, 77, 255, 0.08);
$de_york_25: rgba(120, 191, 125, 0.25);
$blue_ribbon_5: rgba(0, 77, 255, 0.05);
$blue_ribbon_3: rgba(0, 77, 255, 0.03);
$blue_ribbon_6: rgba(0, 77, 255, 0.06);
$endeavour_1: rgba(0, 84, 153, 0.12);
$shark_7: rgba(25, 27, 31, 0.7);
$klein_blue_8: rgba(0, 48, 160, 0.08);
$klein_blue_3: rgba(0, 48, 160, 0.03);
$downy_2: rgba(86, 206, 200, 0.2);
$blue_ribbon_4: rgba(0, 77, 255, 0.04);
$cornflower_blue_25: rgba(123, 129, 240, 0.25);
