$white: #fff;
$black: #000;
$red: red;
$regent_gray: #7c8ba2;
$river_bed: #414b5d;
$red: #ff1010;
$whisper: #f5f6fa;
$mirage: #191b1f;
$pattens_blue: #ddf1ff;
$mariner: #2870c1;
$hawkes_blue: #dcdbfd;
$thunderbird: #c41f1f;
$yellow_sea: #ffab00;
$ocean_green: #4caf78;
$star_dust: #9a9da5;
$azure_radiance: #0e88ff;
$science_blue: #0068cd;
$mercury: #e5e5e5;
$apple: #43a047;
$persian_red: #d32f2f;
$orange_peel: #ffa000;
$tapa: #747474;
$mischka: #cdd3db;
$cararra: #ececec;
$shark: #232832;
$heather: #b4c2d4;
$anakiwa: #9fd0ff;
$athens_gray: #ebf0f6;
$athens_gray_1: #dfe6ed;
$athens_gray_2: #e5e7ee;
$black_squeeze: #f7fdfd;
$catskill_white: #f8fafc;
$catskill_white_2: #eaf1f5;
$catskill_white_3: #f1f4f8;
$puerto_rico: #44c99c;
$french_rose: #f15581;
$dodger_blue: #3a89f7;
$dodger_blue_2: #3b89f7;
$sugar_cane: #f7fff7;
$cornflower_blue: #7b81f0;
$cornflower_blue_2: #6377fa;
$serenade: #fff7e9;
$web_orange: #ffa800;
$titan_white: #eaebff;
$catskill_white_4: #e9ecf5;
$catskill_white_5: #e0e7f0;
$bridal_heath: #fffbf3;

$primaryColor: $white;
$primaryBgColor: $azure_radiance;
$primaryBgHover: $science_blue;
$secondaryColor: $black;
$secondaryBgColor: $white;
$secondaryBgHover: $mercury;
$primaryTxtColor: $mariner;
$secondaryLinkColor: #7c8ba2;
$secondaryBgLinkColor: transparent;
$shuttle_gray: #5e6c84;
$silver_chalice: #a5a5a5;
$silver_chalice2: #aaa;
$sazerac: #fff6e6;
$web_orange_75: rgba(255, 168, 0, 0.75);
$blue_ribbon_3: #004dff08;
$carousel_pink: #fbecf1;
$titan_white: #fafaff;
$athens_gray_3: #e0e7f0;
$jordy_blue: #89b8fa;
$regent_gray: #7b8ba3;
$web_orange_10: rgba(255, 168, 0, 0.1);
$blue_ribbon_5: rgba(0, 77, 255, 0.05);
$athens_gray_4: #f3f4f8;
$east_bay: #4d5b83;
$de_york_25: rgba(120, 191, 125, 0.25);
$dodger_blue_10: rgba(58, 137, 247, 0.1);
$periwinkle_gray: #c5cde3;
$pigeon_post: #b3bcd4;
