.list-item-root {
  box-sizing: content-box !important;
  display: flex;
  align-items: center;
  height: 20px;
  color: rgba(0, 0, 0, 0.87);
  width: auto;
  overflow: hidden;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Manrope', sans-serif;
  line-height: 1.5em;
  white-space: nowrap;
  text-decoration: none;
  padding: 8px 12px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.08);
  }

  &.selected {
    background-color: #deebff;
  }
}
