.popup-content {
  margin: auto;
  background: #232832;
  padding: 16px 20px;
  color: #e5e7ee;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  box-shadow: 1px 8px 14px 0 #0054991f;
  border-radius: 6px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}

[data-popup='tooltip'].popup-overlay {
  background: transparent;
}

.popup-arrow {
  /* -webkit-filter: drop-shadow(0 -3px 3px rgba(0, 0, 0, 0.16));
  filter: drop-shadow(0 -3px 3px rgba(0, 0, 0, 0.16)); */
  color: #232832;
  stroke-width: 2px;

  /* stroke: #d7d7d7; */
  stroke-dasharray: 30px;
  stroke-dashoffset: -54px;
  left: 0;
  right: 0;
  top: 2px;
  bottom: 0;
}

/* Fading entrances  */

/* @-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.tooltip-enter {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.tooltip-exit {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  -webkit-animation-duration: 200ms;
  animation-duration: 200ms;
} */
