.zoomIn {
  display: inline-block;
  visibility: hidden;
  transform: scale(0.5);
  transition-timing-function: ease-in-out;
}

.enterActive {
  transform: scale(1);
  visibility: visible;
}

.enterDone {
  transform: scale(1);
  visibility: visible;
}
