@import '~@src/ui-components/variable';

.checkicon-cntr {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  user-select: none;

  @at-root .primary & {
    .checked {
      background-color: $mariner;

      &::after {
        border-color: $white;
      }
    }

    .unchecked {
      border-color: $regent_gray;
    }

    .disabled {
      background-color: $catskill_white_5;
      cursor: default;
    }
  }

  @at-root .medium & {
    font-size: 22px;

    .checked {
      height: 15px;
      width: 15px;

      &::after {
        left: 5px;
        top: 1px;
        width: 4px;
        height: 8px;
      }
    }

    .unchecked {
      height: 15px;
      width: 15px;
    }
  }

  .checked {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 2px;
  }

  .checked::after {
    display: block;
    border-style: solid;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    content: '';
    position: absolute;
  }

  .unchecked {
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid;
    border-radius: 2px;
  }
}
