.wod {
    padding: 12px 8px;
    border: 1px dotted #2f87ce;
    box-shadow: 0 2px 0.38rem -2px rgb(23 34 96 / 30%);
    border-radius: 0.63rem;
    max-width: 300px;
    margin: 16px 0;
}

.wod_heading {
    font-size: 15px;
    line-height: 17px;
    font-weight: bold;
}

.wod_date {
    font-size: 8px;
    line-height: 9px;
    color: #878b94;
}

.wod_word {
    font-size: 23px;
    line-height: 25px;
    color: #2f87ce;
    margin: 8px 0;
}

.wod_meaning {
    font-size: 13px;
    line-height: 15px;
    margin: 4px 0 0;
    position: relative;
    background: #f2f5fd;
    padding: 8px 10px;
    border-radius: 7px;
}

.wod_sentence {
    font-size: 13px;
    line-height: 15px;
    margin-top: 6px;
    padding-left: 8px;
}

.bold {
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
}