.navigation {
    padding: 0px 0.8rem 0;
    margin: 0 auto;
    max-width: 360px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    height: 52px;
}

.logo {
    text-align: left;
    font-size: 7px;
    font-weight: 900;
    font-family: var(--rubik);
    letter-spacing: 0;
    color: var(--baltic_sea);
    text-decoration: none;
    position: absolute;
    line-height: 52px;
    left: 9px;
}

.try_it_free {
    text-align: left;
    font-size: 5px;
    font-weight: normal;
    width: 33px;
    line-height: 3px;
    font-family: var(--poppins);
    letter-spacing: 1.08px;
    color: var(--white);
    text-decoration: none;
    padding: 2px 0px 3px 0px;
    border: 2px solid var(--white);
    border-radius: 6.25rem;
    z-index: 10;
    position: absolute;
    top: 18px;
    right: 16px;
}

.try_it_free:hover {
    background-color: var(--gray);
}

@media (min-width: 769px) and (max-width: 1499px) {
    .navigation {
        padding: 40px 0 0;
        max-width: 822px;
        height: 70px;
    }

    .logo {
        font-size: 15px;
        line-height: 17px;
    }

    .try_it_free{
        font-size: 9px;
        line-height: 17px;
        padding: 4px 6px 4px 18px;
        width: 78px;
        top: 40px;
    }
}

@media screen and (min-width: 1500px) {
    .navigation {
        padding: 56px 12px 0;
        max-width: 1624px;
        height: auto;
    }

    .logo {
        font-size: 1.875rem;
        position: unset;
    }

    .try_it_free{
        font-size: 20px;
        line-height: 27px;
        padding: 13px 30px 14px 30px;
        position: initial;
        width: 147px;
    }
}