.radio {
  display: block;
  position: relative;
  padding-left: 16px;
  margin-bottom: 2px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  * {
    box-sizing: border-box;
  }

  &InputWrapper {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    margin-left: -14px;
    margin-right: 16px;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
  }

  &.disabled {
    cursor: default;
    pointer-events: none;
    opacity: 0.5;
  }

  .inputHidden {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
    width: 32px;
    height: 35px;
    padding: 4px;
  }

  .icon {
    display: block;
    cursor: pointer;
    background: #fff;
    user-select: none;
    border-radius: 50%;
    padding: 4px;
  }

  &.medium {
    .radioInputWrapper .label {
      font-size: 14px;
      font-weight: 400;
    }
  }
}
