div.modal {
  position: fixed;
  width: 90%;
  max-width: 600px;
  background: white;
  left: 50%;
  top: 50%;
  z-index: 10000;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  max-height: 70vh;
  padding: 20px;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }

  &.visible {
    opacity: 1;
    visibility: visible;
  }
}
