.appear {
  width: 100%;
  transition-timing-function: ease-in-out;
  transform: scaleX(0);
  height: 100%;
  position: relative;
  left: 0;
  transform-origin: 0 0;
}

.enterActive {
  transform: scaleX(1);
}

.enterDone {
  transform: scaleX(1);
}
